<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
        const room = "<%= room%>";
        const hostname = "<%= hostname%>";
    </script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" ></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js" integrity="sha512-YybopSVjZU0fe8TY4YDuQbP5bhwpGBE/T6eBUEZ0usM72IWBfWrgVI13qfX4V2A/W7Hdqnm7PIOYOwP9YHnICw==" crossorigin="anonymous"></script>
    <script defer src="/script.js" ></script>
    <title>Chat App</title>
</head>
<body>

    <section class="container">

        <div class="video">
            <video class="video-you"></video>
            <video class="video-me"></video>
            <div class="buttons">
                <div id="mic" class="mic"><i class="fa fa-microphone"></i></div>
                <a href="/" class="cancel"><i class="fa fa-phone"></i></a>
                <div id="vid" class="vid"><i class="fa fa-video-camera" aria-hidden="true"></i></div>
            </div>
        </div>

        <div class="message">
            <div class="room-info">
                <div class="roomcode">Your room code: <%= room%></div>
                <div class="close">X</div>
            </div>
            <div class="message-window"></div>
            <div class="form-container">
                <form action="" class="message-form">
                    <input type="text" placeholder="Type your message...">
                    <button type="submit"><i class="fa fa-paper-plane" ></i></button>
                </form>
            </div>
        </div>

    </section>

    <section class="animation">
        <ul class="animation-box">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
</body>
</html>